# Java
*.class
*.jar
*.war
*.log

# Maven
target/
!src/main/resources/static/target/

# IntelliJ / VSCode / Eclipse
.idea/
*.iml
.vscode/
.project
.classpath
.settings/

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log
*.gz

# Environment
.env
.env.*

# Docker
**/Dockerfile
**/docker-compose.yml
**/.docker/

# Coverage / Test Reports
coverage/
*.lcov
target/surefire-reports/

# Kafka/DB volumes (optional if using local mounts)
infra/kafka-data/
infra/postgres-data/

# CI/CD
**/build/
.github/

# Postman artifacts
*.postman_collection.json
*.postman_environment.json

# OpenAPI generated
openapi.yaml
